<div class="player-profile">
  <div class="row">
    <div class="col-md-12">
      <h1>Player: {{Name}}</h1>
      <img src="{{PhotoUrl}}">
      <p class="lead">
        {{Position}}{{DepthOrder}} {{TeamName}}
      </p>
    </div>
  </div>
  <div class="stat row">
    <span class="stat-label col-md-2">Height</span>
    <span class="stat-value col-md-10">{{Height}}</span>
  </div>
  <div class="stat row">
    <span class="stat-label col-md-2">Weight</span>
    <span class="stat-value col-md-10">{{Weight}}</span>
  </div>
  <div class="stat row">
    <span class="stat-label col-md-2">Birth Date</span>
    <span class="stat-value col-md-10">{{BirthDate}}</span>
  </div>
  <div class="stat row">
    <span class="stat-label col-md-2">College</span>
    <span class="stat-value col-md-10">{{College}}</span>
  </div>
</div>