<div class="col-md-6 player-grid">
  <div class="media">
    <div class="pull-left">
      <img class="media-object" src="{{PhotoUrl}}" alt="{{Name}}" />
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="/players/{{PlayerID}}">{{Name}}</a></h4>
      <span class="position">{{Position}}{{DepthOrder}}</span>
      {{#if showTeam}}
        {{TeamName}}
      {{/if}}
    </div>
  </div>
</div>