<div class="row">
  <div class="col-md-12">
    <h1>Teams</h1>
  </div>
</div>

{{#conferences}}
  <div class="conference row">
    <div class="col-md-12">
      <h2>{{name}}</h2>
    </div>
    {{#divisions}}
      <div class="division col-md-6">
        <h4>{{name}}</h4>
        {{#teams}}
          <div class="teams">
            {{#if hasPlayers}}<a href="/teams/{{Key}}">{{/if}}
            {{City}} {{Name}}
            {{#if hasPlayers}}</a>{{/if}}
          </div>
        {{/teams}}
      </div>
    {{/divisions}}
  </div>
{{/conferences}}